* {
  box-sizing: border-box;
}

body {
  font-size: 1.25em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
  min-width: 320px;
}



/* HEADER */

header {
  position: relative;
  height: 100%;
  color: #fff;
  background-color: #29303a;
/*   padding: 3rem 2rem; */
  
  overflow: hidden;
  
  min-width: 320px;
  min-height: 480px;
}

.header__container {
  height: 168px;
  padding: 0 1.1rem;
  
/*   max-width: 500px;
  margin: 0 auto; */
  
  z-index: 2;

}
@media (min-width: 544px) {
  .header__container{
    height: 159px;
  }
}
@media (min-width: 768px) {
  .header__container {
    height: 187px;
  }
}

.header__logo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 2.5rem auto;
}
@media (min-width: 544px) {
  .header__logo {
    text-align: left;
    margin: 2rem;
  }
}
@media (min-width: 768px) {
  .header__logo {
    font-size: 3rem;
  }
}

.header__intro {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width: 544px) {
  .header__intro {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .header__intro {
    font-size: 4rem;
  }
}

.header__date {
  font-size: .78rem;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width: 544px) {
  .header__date {
    font-size: 1.06rem;
  }
}
@media (min-width: 768px) {
  .header__date {
    font-size: 1.4rem;
  }
}

a.statistics_highlight:link, 
a.statistics_highlight:visited, 
a.statistics_highlight:hover, 
a.statistics_highlight:active {
  color: #83c500;
}

/* FORM */

.signup {
  width: 100%;
  max-width: 280px;
  margin: 2rem auto 0;
}
@media (min-width: 544px) {
  .signup {
    max-width: 378px;
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .signup {
    max-width: 500px;
  }
}

.signup__input {
  display: block;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
@media(min-width: 544px) {
  .signup__input {
    display: inline-block;
    padding: 15px 10px;
  }  
}

.signup__input--streamer {
  color: #333;
}
@media(min-width: 544px) {
  .signup__input--streamer {
    width: 75%;
  }
}

.signup__input--submit {
  font-weight: 700;
  letter-spacing: .15rem;
}
@media(min-width: 544px) {
  .signup__input--submit {
    width: 25%;
  }
}

.signup__input--cta {
  font-weight: 700;
  letter-spacing: .15rem;
  
  width: 90%;
  max-width: 300px;

  
  margin: 0 auto;
}
/* @media(min-width: 544px) {
  
} */

a.signup__input:link, 
a.signup__input:visited, 
a.signup__input:hover, 
a.signup__input:active {
  text-decoration: none;
  color: #fff;
}

a.logo:link, 
a.logo:visited, 
a.logo:hover, 
a.logo:active {
  text-decoration: none;
  color: #fff;
}

a.share:link, 
a.share:visited, 
a.share:hover, 
a.share:active {
  text-decoration: none;
  color: #fff;
  width: 185px;
  height: 50px;
  display: inline-block;
  
  padding: 0 1rem;
  border: 1px solid white;
}
@media(min-width: 544px) {
  a.share:link, 
  a.share:visited, 
  a.share:hover, 
  a.share:active {
    width: 150px;
    height: 50px;
  }
}

a.share--twitter:link, 
a.share--twitter:visited, 
a.share--twitter:hover, 
a.share--twitter:active {
  background-color: #55acee;
}

a.share--facebook:link, 
a.share--facebook:visited, 
a.share--facebook:hover, 
a.share--facebook:active {
  background-color: #3b5998;
}

img.share {
  display: inline-block;
/*   float: left; */
  height: 48px;
  width: 48px;
  float: left;
}

span.share {
  display: inline-block;
  height: 20px;
  margin: 15px 0;
  float: left;
}

.success {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem auto 0;
}
@media (min-width: 544px) {
  .success {
    max-width: 750px;
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
}

.container2 {
  margin: auto;
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  overflow: hidden;
/*   height: 40%; */
  z-index: 1;
  
  height: 751px;
}

.smartphone-img {
/*   margin-top: 15rem; */
}


/* FEATURES */
.features {
  height: 100%;
  list-style-type: none;
  padding: 0;
  text-align: left;
  
  width: 100%;
  
  min-width: 320px;
  min-height: 480px;
}
@media(min-width: 768px) {
  .features {
    font-size: 0;
    
    max-width: 1080px;   
    
    margin: 0 auto;
  }
}
@media(min-height: 500px) {
  .features {
    padding: 10% 0;
  }
}
@media(min-height: 725px) {
  
}

.features__element {
  height: 16.666666666666666%;
  margin: 0;
  width: 100%;

  display: block;
  
  font-size: 1rem;
  
  vertical-align: middle;
  
  position: relative;
}
@media(min-width: 768px) {
  .features__element {
    width: 33.33333333%;
    height: 50%;
    
    font-size: 1rem;
    
    display: inline-block;
  }
}

.features__paragraph {
  text-align: left;
  
  height: 50px;
  line-height: 50px;

  margin: 0;
  
  display: inline-block;
  width: 225px;
  
  left: 65px;
  
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 65px;
}
@media(min-width: 544px) {
  .features__paragraph {
    width: 400px;
  }
}
@media(min-width: 768px) {
  .features__paragraph {
    text-align: center;
    line-height: 25px;
    
    
    
    height: 50px;
    width: 225px;
    
    left: 0;
    top: 50px;
  }
}
@media(min-width: 1050px) {
  .features__paragraph {
    font-size: 1.2rem;
    width: 300px;
    top: 75px;
  }
}

.features__element:before {
  
  content: "";
  display: block;
  height: 45px;
  width: 45px;

  background-repeat: no-repeat;
  
  background-position: center center;
  
  margin: auto;
  position: absolute;
  
  top: 0;
  right: 250px;
  bottom: 0;
  left: 0;
}
@media(min-width: 544px) {
  .features__element:before {
    right: 425px;
  }
}
@media(min-width: 768px) {
  .features__element:before {
    right: 0;
    bottom: 50px;
  }
}
@media(min-width: 1050px) {
  .features__element:before {
    height: 75px;
    width: 75px;
    
    bottom: 75px;
  }
}

.features__element--one:before {
  background-image: url('http://image.flaticon.com/icons/svg/167/167486.svg');
}
.features__element--two:before {
  background-image: url('http://image.flaticon.com/icons/svg/148/148795.svg');  
}
.features__element--three:before {
  background-image: url('http://image.flaticon.com/icons/svg/148/148824.svg');  
}
.features__element--four:before {
  background-image: url('http://image.flaticon.com/icons/svg/148/148943.svg'); 
}
.features__element--five:before {
  background-image: url('http://image.flaticon.com/icons/svg/148/148799.svg');  
}
.features__element--six:before {
  background-image: url('http://image.flaticon.com/icons/svg/138/138687.svg');  
}


.icon {
  display: inline-block;
  content: "";
  height: 45px;
  width: 45px;
  background-image: url('http://image.flaticon.com/icons/svg/167/167486.svg');
}



/* FOOTER */

footer {
  position: relative;
  padding: 1rem 0;
  height: 100%;
  color: #fff;
  background-color: #29303a;
  
  min-width: 320px;
  min-height: 480px;
}

.footer__container {
/*   height: 168px; */
  height: 231px;
  padding: 0 1.1rem;
}

.footer__logo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 auto 2.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    font-size: 3rem;
  }
}

.footer__intro {
  font-size: 2.2rem;
  margin: 3rem auto 0;
}

.footer__summary {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
  
/*   padding: 1rem; */
/*   margin: 3rem auto 2rem; */
}
@media (min-width: 544px) {
  .footer__summary {
    max-width: 500px;
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
}


/* Index Social */
.social_container {
  background-color: #ecf0f1;
/*   background-color: rgba(131, 197, 0, .8); */
  color: #000;
  position: absolute;
  bottom: 1rem;
  width: 100%;
/*   max-width: 1080px; */
}
@media (min-width: 768px) {
  .social_container {
    padding: 0 2rem;
  }
}

.social_slogan {
  font-size: 1rem;
  float: left;
/*   margin-left: 2rem; */
}

.social_nav {
  display: block;
  margin: 0;
  padding: 0;
}

.social_nav__element {
  display: inline-block;
  padding: .2rem;
}
@media (min-width: 544px) {
  .social_nav__element {
    padding: .5rem;
    float: right;
  }
}

.social__icon {
  width: 2rem;
  height: 2rem;
  margin: 0;
  vertical-align: middle;
}

.social_cta {
  
}
@media(min-width: 544px) {
  .social_cta {
    color: #000;
/*     width: 425px; */
    height: 100px;

    margin: 1rem auto;
    font-size: 0;
  }
}

.social_cta__nav {
  list-style-type: none;
  padding: 0;
}

/* Stats Social */
.social_cta__element {
  font-size: 1rem;
  margin: .5rem auto;
}
@media (min-width: 544px) {
  .social_cta__element {
    padding: .5rem 1rem;
    display: inline-block;
    margin: 0 auto;
  }
}


/* UTILITIES & COLORS & ICONS */
.statistics_highlight {
  color: #83c500;
}

.statistics_background {
  background: #78b400;
}

.absolute_center {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.up-to-tablet--hidden {
  display: none;
}
@media(min-width: 768px) {
  .up-to-tablet--hidden {
    display: block;
  }
}

.hidden-on-mobile {
  display: none;
}
@media (min-width: 544px) {
  .hidden-on-mobile {
    display: inline;
  }
}



/* STATISTICS */

.streamer_header {
  font-size: 24px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 0;
}

.column {
  font-size: .75rem;
  display: inline-block;
  width: 45%;
  height: 100px;
}

.column--left {
  float: left;
/*   padding-right: 5px; */
}

.column--right {
  float: right;
/*   padding-left: 5px; */
}

.column__number {
  font-size: 42px;
}

.column__hr {
  size: .5px;
}


.clearfix::after {
  display: block;
  content: " ";
  clear: both;
}

body {
/*   max-width: 500px;
  margin: 0 auto; */
}


.chart__navigation {
  list-style-type: none;
/*   border: 1px solid white; */
  font-size: 0;
  padding-left: 0;
}

.chart__navigation li {
  display: inline-block;
  width: 33.33333333333333333333%;
  
/*   padding: .5rem 1rem; */
  font-size: 12px;
  
/*   border: 1px solid white; */
}

.chart__navigation button {
  padding: .5rem 1rem;
  border: 1px solid white;
  background-color: inherit;
  width: 100%;
}

.chart__navigation .selected {
  background-color: white;
  color: black;
}

.chart {
/*   width: 400px; */
  height: 200px;
}
@media (min-width: 768px) {
  .chart {
    height: 400px;
  }
}

.statistics__container {
  max-width: 500px;
  margin: 0 auto;
}
  
  
  
  
  
  
  
  
  
  