.landing-section__container {
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 480px;  
}

.landing-section__container--light {
  @extend .landing-section__container;
  
  color: #000;
  background-color: #fff;
}

.landing-section__container--dark {
  @extend .landing-section__container;
  
  color: #fff;
  background-color: #29303a;
}