// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-size: 1.25em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}